In [2]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report,accuracy_score,recall_score,confusion_matrix
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
dataSet = pd.read_csv('iris.csv')
dataSet.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [4]:
#catagorical feature for encoding purpose
final_data=dataSet.iloc[:,:].values
from sklearn.preprocessing import LabelEncoder
final_data[:,4]=LabelEncoder().fit_transform(final_data[:,4])
final_data=pd.DataFrame(final_data)
final_data.head()

     0    1    2    3  4
0  5.1  3.5  1.4  0.2  0
1  4.9    3  1.4  0.2  0
2  4.7  3.2  1.3  0.2  0
3  4.6  3.1  1.5  0.2  0
4    5  3.6  1.4  0.2  0

In [5]:
a=final_data.rename( columns={4: "class"},inplace=True)
final_data.head()

     0    1    2    3 class
0  5.1  3.5  1.4  0.2     0
1  4.9    3  1.4  0.2     0
2  4.7  3.2  1.3  0.2     0
3  4.6  3.1  1.5  0.2     0
4    5  3.6  1.4  0.2     0

In [6]:
x = final_data.drop("class",axis=1)
#y = final_data["class"]
y=np.asarray(final_data["class"], dtype="|S6")
x=np.asarray(final_data)

In [7]:
#train and test data set spilitting
X_train, X_test, y_train, y_test = train_test_split(x,y, test_size=0.30, random_state=101)

In [8]:
from xgboost import XGBClassifier
classifier = XGBClassifier()
classifier.fit(X_train, y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
       n_jobs=1, nthread=None, objective='multi:softprob', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)

In [9]:
# Predicting the Test set results
y_pred = classifier.predict(X_test)

In [11]:
# Applying k-Fold Cross Validation
from sklearn.model_selection import cross_val_score
accuracies = cross_val_score(estimator = classifier, X = X_train, y = y_train, cv = 10)
print("accuracy:{:.3f}".format(accuracies.mean()))
#accuracies.std()

accuracy:1.000

In [13]:
# Making the Confusion Matrix
a=confusion_matrix(y_test, y_pred)
a

array([[13,  0,  0],
       [ 0, 20,  0],
       [ 0,  0, 12]])