In [1]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report,accuracy_score,recall_score,confusion_matrix
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
dataSet = pd.read_csv('red-wine-quality-cortez-et-al-2009.csv')
dataSet.head()
#dataSet.quality.unique()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [3]:
x = dataSet.drop("quality",axis=1)
y = dataSet["quality"]
#y=np.asarray(final_data["class"], dtype="|S6")
#x=np.asarray(final_data)

In [4]:
#train and test data set spilitting
X_train, X_test, y_train, y_test = train_test_split(x,y,test_size=0.30, random_state=42)

In [5]:
from xgboost import XGBClassifier
classifier = XGBClassifier()
classifier.fit(X_train, y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
       n_jobs=1, nthread=None, objective='multi:softprob', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)

In [6]:
# Predicting the Test set results
y_pred = classifier.predict(X_test)

In [7]:
# Applying k-Fold Cross Validation
from sklearn.model_selection import cross_val_score
accuracies = cross_val_score(estimator = classifier, X = X_train, y = y_train, cv = 10)
print("accuracy{:.3f}".format(accuracies.mean()))
#accuracies.std()

/home/ajayrmavs33236/anaconda3/lib/python3.6/site-packages/sklearn/model_selection/_split.py:605: Warning: The least populated class in y has only 9 members, which is too few. The minimum number of members in any class cannot be less than n_splits=10.
  % (min_groups, self.n_splits)), Warning)

accuracy0.635

In [8]:
# Making the Confusion Matrix
a=confusion_matrix(y_test, y_pred)
a

array([[  0,   0,   1,   0,   0,   0],
       [  0,   1,  11,   5,   0,   0],
       [  0,   1, 150,  42,   2,   0],
       [  1,   1,  58, 121,  19,   0],
       [  0,   0,   0,  36,  24,   1],
       [  0,   0,   0,   4,   2,   0]])