In [2]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report,accuracy_score,recall_score,confusion_matrix
from sklearn import preprocessing
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
dataSet = pd.read_csv('indian_liver_patient.csv')
dataSet.head()

,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Dataset
0,65,Female,0.7,0.1,187,16,18,6.8,3.3,0.90,1
1,62,Male,10.9,5.5,699,64,100,7.5,3.2,0.74,1
2,62,Male,7.3,4.1,490,60,68,7.0,3.3,0.89,1
3,58,Male,1.0,0.4,182,14,20,6.8,3.4,1.00,1
4,72,Male,3.9,2.0,195,27,59,7.3,2.4,0.40,1

In [4]:
#catagorical feature for encoding purpose
cat_feats = ['Gender']

In [5]:
#to create a fixed larger dataframe that has new feature columns with dummy variables. Set this dataframe as final_data.
final_data = pd.get_dummies(dataSet,columns=cat_feats,drop_first=True)
#np.where(np.isnan(final_data)) 
#final_data = preprocessing.normalize(final_data)
#standardized_X = preprocessing.scale(final_data)
#final_data.head()

In [6]:
final_data.fillna(method="bfill",inplace=True)
np.where(np.isnan(final_data))

(array([], dtype=int64), array([], dtype=int64))

In [7]:
    #train and test data set spilitting
    #X = final_data.drop('Gender_Male',axis=1)
    #y = final_data['Gender_Male'] beacause it contains contains NaN, infinity or a value too large for dtype('float32').
    x = final_data.drop("Gender_Male",axis=1)
    y=np.asarray(final_data["Gender_Male"], dtype="|S6")
    x=np.asarray(final_data, dtype="|S6")
    X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.30, random_state=42)

In [8]:
from xgboost import XGBClassifier
classifier = XGBClassifier()
classifier.fit(X_train, y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
       n_jobs=1, nthread=None, objective='binary:logistic', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)

In [9]:
# Predicting the Test set results
y_pred = classifier.predict(X_test)

In [10]:
# Applying k-Fold Cross Validation
from sklearn.model_selection import cross_val_score
accuracies = cross_val_score(estimator = classifier, X = X_train, y = y_train, cv = 10)
print("accuracy{:.3f}".format(accuracies.mean()))
#accuracies.std()

accuracy1.000

In [11]:
# Making the Confusion Matrix
a=confusion_matrix(y_test, y_pred)
a

array([[ 50,   0],
       [  0, 125]])