In [1]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report,accuracy_score,recall_score,confusion_matrix
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
dataSet = pd.read_csv('german_credit_data.csv',index_col=0)
dataSet.head()

,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose
0,67,male,2,own,NaN,little,1169,6,radio/TV
1,22,female,2,own,little,moderate,5951,48,radio/TV
2,49,male,1,own,little,NaN,2096,12,education
3,45,male,2,free,little,little,7882,42,furniture/equipment
4,53,male,2,free,little,little,4870,24,car

In [3]:
dataSet.fillna(method='bfill',inplace=True)
dataSet.head()

,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose
0,67,male,2,own,little,little,1169,6,radio/TV
1,22,female,2,own,little,moderate,5951,48,radio/TV
2,49,male,1,own,little,little,2096,12,education
3,45,male,2,free,little,little,7882,42,furniture/equipment
4,53,male,2,free,little,little,4870,24,car

In [4]:
#dataSet['Checking account'].unique()
from sklearn.preprocessing import LabelEncoder
target=dataSet['Checking account']
target=LabelEncoder().fit_transform(target)

dataSet.drop('Checking account',axis=1,inplace=True)

dataSet['Sex']=LabelEncoder().fit_transform(dataSet['Sex'])
dataSet['Housing']=LabelEncoder().fit_transform(dataSet['Housing'])
dataSet['Saving accounts']=LabelEncoder().fit_transform(dataSet['Saving accounts'])
dataSet['Purpose']=LabelEncoder().fit_transform(dataSet['Purpose'])

In [5]:
x=dataSet
y=target

In [6]:
#train and test data set spilitting
X_train, X_test, y_train, y_test = train_test_split(x,y, test_size=0.30, random_state=42)

In [7]:
from xgboost import XGBClassifier
classifier = XGBClassifier()
classifier.fit(X_train, y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
       n_jobs=1, nthread=None, objective='multi:softprob', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)

In [8]:
# Predicting the Test set results
y_pred = classifier.predict(X_test)

In [9]:
# Applying k-Fold Cross Validation
from sklearn.model_selection import cross_val_score
accuracies = cross_val_score(estimator = classifier, X = X_train, y = y_train, cv = 10)
print("accuracy{:.3f}".format(accuracies.mean()))
#accuracies.std()

accuracy0.492

In [10]:
# Making the Confusion Matrix
a=confusion_matrix(y_test, y_pred)
a

array([[86, 64,  0],
       [54, 62,  0],
       [17, 17,  0]])